<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todo.todo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activities.home.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.logoFlash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.logIn"
            android:screenOrientation="portrait"
            android:theme="@style/login" />
        <activity
            android:name=".ui.activities.addTask"
            android:label="@string/title_activity_add_task"
            android:parentActivityName=".ui.activities.home.Home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.todo.todo.ui.activities.home.Home" />
        </activity>
        <activity
            android:name=".ui.activities.ShowTask"
            android:parentActivityName=".ui.activities.home.Home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.activities.UserDetails"></activity>
    </application>

</manifest>